
<div *ngIf="workflow">
    <h2><span>Workflow</span> {{workflow.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Workflow Code</span></dt>
        <dd>
            <span>{{workflow.workflowCode}}</span>
        </dd>
        <dt><span>Workflow Name</span></dt>
        <dd>
            <span>{{workflow.workflowName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{workflow.description}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{workflow.createdBy}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{workflow.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
            <span>{{workflow.lastModifiedBy}}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
            <span>{{workflow.lastModifiedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'workflow/'+ workflow.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
