<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWorkflowStepLabel">Create or edit a Workflow Step</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!workflowStep.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="workflowStep.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_stepName">Step Name</label>
            <div>
                <input type="text" class="form-control" name="stepName" id="field_stepName"
                       [(ngModel)]="workflowStep.stepName" required maxlength="255" style="width: 85% !important; float: left;"/>
                <button type="button" [disabled]="!workflowStep.stepName" class="btn btn-primary"
                        style="width: 14% !important; float: right;" (click)="initWorkflowStep()">
                    <span class="fa fa-filter"></span>&nbsp;<span>Initiate</span>
                </button>
            </div>
            <div [hidden]="!(editForm.controls.stepName?.dirty && editForm.controls.stepName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stepName?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stepName?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
            <div style="clear: both; height: 10px;"></div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_propertyName">Property Name</label>
            <input type="text" class="form-control" name="propertyName" id="field_propertyName"
                [(ngModel)]="workflowStep.propertyName" required maxlength="255" />
            <div [hidden]="!(editForm.controls.propertyName?.dirty && editForm.controls.propertyName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.propertyName?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.propertyName?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_stepNumber">Step Number</label>
            <input type="number" class="form-control" name="stepNumber" id="field_stepNumber"
                [(ngModel)]="workflowStep.stepNumber" required />
            <div [hidden]="!(editForm.controls.stepNumber?.dirty && editForm.controls.stepNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stepNumber?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stepNumber?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_propertyType">Property Type</label>
            <select class="form-control" name="propertyType" [(ngModel)]="workflowStep.propertyType" id="field_propertyType"  required>
                <option value="STRING">STRING</option>
                <option value="INTEGER">INTEGER</option>
            </select>
            <div [hidden]="!(editForm.controls.propertyType?.dirty && editForm.controls.propertyType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.propertyType?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_defaultValue">Default Value</label>
            <input type="text" class="form-control" name="defaultValue" id="field_defaultValue"
                [(ngModel)]="workflowStep.defaultValue" maxlength="255" />
            <div [hidden]="!(editForm.controls.defaultValue?.dirty && editForm.controls.defaultValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.defaultValue?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mapValues">Map Values</label>
            <textarea rows="3" class="form-control" name="mapValues" id="field_mapValues"
                [(ngModel)]="workflowStep.mapValues" maxlength="1023"></textarea>
            <div [hidden]="!(editForm.controls.mapValues?.dirty && editForm.controls.mapValues?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mapValues?.errors?.maxlength">
                   This field cannot be longer than 1023 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_oidPattern">Oid Pattern</label>
            <input type="text" class="form-control" name="oidPattern" id="field_oidPattern"
                [(ngModel)]="workflowStep.oidPattern" required maxlength="255" />
            <div [hidden]="!(editForm.controls.oidPattern?.dirty && editForm.controls.oidPattern?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.oidPattern?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.oidPattern?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="workflowStep.description" maxlength="1023" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength">
                   This field cannot be longer than 1023 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_customizedStep">Customized Step</label>
            <input type="checkbox" class="form-control" name="customizedStep" id="field_customizedStep"
                [(ngModel)]="workflowStep.customizedStep"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_setOrGet">Set Or Get</label>
            <input type="checkbox" class="form-control" name="setOrGet" id="field_setOrGet"
                [(ngModel)]="workflowStep.setOrGet"  />
            <div [hidden]="!(editForm.controls.setOrGet?.dirty && editForm.controls.setOrGet?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.setOrGet?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_getExpectedValue">Get Expected Value</label>
            <input type="text" class="form-control" name="getExpectedValue" id="field_getExpectedValue"
                [(ngModel)]="workflowStep.getExpectedValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="workflowStep.createdBy" required />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdBy?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="workflowStep.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastModifiedBy">Last Modified By</label>
            <input type="number" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="workflowStep.lastModifiedBy" required />
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedBy?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedBy?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="input-group">
                <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" ngbDatepicker  #lastModifiedDateDp="ngbDatepicker" [(ngModel)]="workflowStep.lastModifiedDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lastModifiedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedDate?.dirty && editForm.controls.lastModifiedDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedDate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_workflow">Workflow</label>
            <select class="form-control" id="field_workflow" name="workflow" [(ngModel)]="workflowStep.workflowId"  required>
                <option [ngValue]="workflowOption.id" *ngFor="let workflowOption of workflows; trackBy: trackWorkflowById">{{workflowOption.workflowName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.workflow?.dirty && editForm.controls.workflow?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.workflow?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
