###############################################################################
#
# Additional configuration statements for the secure HTTPd
#
###############################################################################

#########################
# SSL Configuration

# SSL_REQUEST - should the server ask for certificates from clients?

Config SSL_REQUEST        0

# SSL_REQUIRE - should the server require certificates?

Config SSL_REQUIRE        0

# SSL_CADIR - the directory containing Certificate Authority
# certificate files.  If you have only one such file, you can use
# SSL_CAFILE described below.

Config SSL_CADIR        [file join [file dirname [Config home]] certs]

# SSL_CAFILE - the file containing the Certificate Authority
# certificate.  If this is empty, then the directory specified by
# SSL_CADIR is scanned for certificate files.

Config SSL_CAFILE         ""

# SSL_CERTFILE - The server's certificate.

Config SSL_CERTFILE        [file join [Config SSL_CADIR] server.pem]

# SSL_KEYFILE - The server's key file.  If this is empty,
# then just use the SSL_CERTFILE

Config SSL_KEYFILE        [file join [Config SSL_CADIR] skey.pem]

# USE_SSL2 - Allow the use of SSL version 2 
# (You cannot get this with a "no patents" build of OpenSSL)

Config USE_SSL2                1

# USE_SSL3 - Allow the use of SSL version 3

Config USE_SSL3                1

# USE_TLS1 - ??

Config USE_TLS1                0

# SSL_CIPHERS - list of SSL ciphers to support.  If this is empty,
# then all the ciphers supported by the SSL implementation are available.

Config SSL_CIPHERS        {}

