<style type="text/css">
<!--
.waste {font-size: 18px; color: #FF0000; font-family: arial, verdana, helvetica sans-serif;}

.origheader {font-size: 20px; color: #FF0000; font-weight: bold; text-decoration: none;
font-family: arial, verdana, helvetica sans-serif; }

.header {font-size: 20px; color: #006666; font-weight: bold; text-decoration: none;
font-family: arial, verdana, helvetica sans-serif; }

.subheader {font-size: 12px; color: #006666; font-weight: bold;
font-family: arial, verdana, helvetica sans-serif; }

.slogan {font-size: 26px; color: #006666; font-family: verdana, arial, sans-serif;}

.origmain {font-size: 13px; color: #006666; font-family: verdana, arial, sans-serif;}

.main {font-size: 13px; color: #003366; font-family: verdana, arial, sans-serif;}

.main_m {font-size: 13px; color: #000066; font-family: verdana, arial, sans-serif;}

.main_r {font-size: 13px; color: red; font-family: verdana, arial, sans-serif;}

.sitemaptitle {font-size: 11px; color: #006666; font-family: verdana, arial, sans-serif;}

.sitemap {font-size: 11px; color: #003366; font-family: verdana, arial, sans-serif;}

.sitemapred {font-size: 11px; color: #DD1111; font-family: verdana, arial, sans-serif;}

.sitemap_m {font-size: 11px; color: #000066; font-family: verdana, arial, sans-serif;}

.signup {font-size: 11px; color: #006666; font-family: verdana, arial, sans-serif;}

.boxtitle {font-size: 13px; color: #FFFF00; font-weight: bold; font-family: verdana, arial, sans-serif;}

.footer {font-size: 14px; color: #FFFF00; font-family: verdana, arial, sans-serif;}

.address {font-size: 12px; color: #FFFFFF; font-family: verdana, arial, sans-serif;}

.indexheader {font-size: 22px; color: #006666; font-family: verdana, arial, sans-serif; text-decoration: underline;}

.maintopic {font-size: 12px; color: #006666; font-weight: bold; text-decoration: none; font-family: verdana, helvetica; }

.subtopic1 {font-size: 10px; color: #006666; font-weight: bold; text-decoration: none; font-family: verdana, helvetica;}

-->
</style>

